html{
	font-weight: 900;
	font-size: 10px;
	color: black;
}

body{
	background-image: linear-gradient(90deg, #516471 0, #1f4459 50%, #002642 10%);
	margin: 50px;
	font-family: sans-serif;
}

header{
	background: rgba(255, 255, 255, 0.3);
	padding: 10px;
	max-width: 10px 0;
	text-align: center;
	color: white;
	border-top: 2px solid black;
	box-shadow: 2px 0 5px black;
}

header img{
	width: 200px;
}